# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=write_your_database_url_here

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=write_your_clerk_publishable_key_here 
CLERK_SECRET_KEY=write_your_clerk_secret_key_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login

MINIO_ENDPOINT=write_your_minio_endpoint_here
MINIO_PORT=write_your_minio_port_here
MINIO_USE_SSL=write_your_minio_use_ssl_here
MINIO_ACCESS_KEY=write_your_minio_access_key_here
MINIO_SECRET_KEY=write_your_minio_secret_key_here

RESEND_API_KEY=write_your_resend_api_key_here
NEXT_PUBLIC_DASHBOARD_URL=write_your_dashboard_url_here

EMAILJS_SERVICE_ID=write_your_emailjs_service_id_here
EMAILJS_TEMPLATE_ID=write_your_emailjs_template_id_here
EMAILJS_PUBLIC_KEY=write_your_emailjs_public_key_here